logs.txt
pages/__pycache__/anti_afk_page.cpython-310.pyc
pages/__pycache__/gotovka_page.cpython-310.pyc
pages/__pycache__/port_page.cpython-310.pyc
pages/__pycache__/shveika_page.cpython-310.pyc
pages/__pycache__/stroyka_page.cpython-310.pyc
widgets/__pycache__/logger.cpython-310.pyc
pages/__pycache__/gotovka_page.cpython-310.pyc
